*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 30px;
}
.result {
  display: flex;
  flex-direction: column;
}
.result__video-container {
  margin-bottom: 10px;
  position: relative;
}
.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}
.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.search-form__fieldset {
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 221px;
  margin: 0 0 0 2px;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search-form__label {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}
 .search-form__label:has(:focus-visible) {
  outline: 1px #fff solid ;
  outline-offset: 2px;
  display: inline-block;
} 
.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search-form__label-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__textfield {
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  appearance: none;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  min-width: 222px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
.search-form__textfield:not(:active):focus-visible {
  outline: 1px #fff solid ; 
  outline-offset: 1px;
}
 .search-form__textfield:has(:focus-visible) {
  outline: 1px #fff solid ;
  outline-offset: 1px;
} 
.search-form__checkbox-list {
  margin: 0 0 3px 0;
  min-width: 222px;
}
.search-form__pseudo-checkbox  {
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;
  display: inline-block;
}
.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  margin: 1px;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
input:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}
.button {
  border: none;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  outline: 1px solid #fff;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button:active {
  outline: none;
  background: #545050;
}
.button:focus {
  border: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__submit-button {
  width: 194px;
  min-height: 34px;
}
.content__details {
  display: flex;
  width: 100%;
  gap: 29px;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 70px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
  min-height: 177px;
}
.content__accent {
  color: #545050;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  position: relative;
  height: 298px;
}
.content__card-link {
  text-decoration: none;
}
.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.content__card-link:focus {
  outline: 1px solid #fff;
  outline-offset:1px ;
  display: block;
  margin: 2px;
}
.content__card-link:active {
  outline: none;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.content__video-card:active {
  background: #545050;
}
.content__video-card-description-container {
  width: 200px;
  height: 101px;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: #fff;
  text-transform: capitalize;
}
.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
}
.more-button {
  min-width: 399px;
  min-height: 34px;
  margin: 10px;
}